
.header{
    display: flex;
    justify-content: space-between;
    background-color: #10657A;
    height: 15vh;
    border-radius: 10px 0px 0px 0px;
   padding: 20px ;
   background-size:50%;
    
}
.menues{
    margin: 25px;
}
.menues a{
    color: aqua;
    font-size:17px;
    color: white;
    margin: 15px;
    font-weight:500;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.getbtn button{
    border: none;
    padding: 9px 28px 15px 28px;
    border-radius: 9px;
    text-align: center;
    background-color: #F7A209;
    color: white;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    
}
.hero {
    background-image: url(hero.jpg);
    height: 80vh;/heroimg
    margin-top: 50px;
}
.herotext{
    text-align: center;
    color: white;
    padding-top: 110px;
}
.herotext h1{
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center;
    
}
.herotext h2{
    font-size: 52px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: ##FB923C;
    margin-top: -40px;
}
.herotext p{
    font-size: 21px;
    margin-top: -40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifx11;
}.herobtn button{
    border: none;
    padding: 13px 28px 15px 28px;
    border-radius: 9px;
    text-align: center;
    background-color: #F7A209;
    color: white;
    font-size: 15px;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.circle img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 70px 0px 10px 120px;
}
.circle ul img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 120px 0px 10px -570px;
    border: 4px solid white;
}
.abouttext {
    font-size: 18px;
    margin-left: 560px;
    margin-top: -530px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.abouttext img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 120px 0px 10px -570px;
    border: 4px solid white;
    
}
.about{
    margin-left: 40px;
}
.progarms h1{
    text-align: center;
    font-size: 26px;
    /* text-decoration: underline; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 60px;
    padding-top: 80px;
    text-decoration:underline;
}
.section1{
    background-color: #F3F4F6;
    height: 900px;
    margin-top: 40px;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    margin: 100px 8px 8px 8px;
    
    
    

}
.card1{
    
    height: 512px;
  
    width: 380px;
   
    
   
}
.card2{
    
    height: 512px;
    padding-left: -40px;
    width: 380px;
   
    
   
}
.card3{
    
    height: 512px;
  
    width: 380px;
    border-radius: 15px 15px 0px 0px;
   
    
   
}.card3 img{
    border-radius: 15px 15px 0px 0px;
}
.package{
    background-color: #10657A;
    height: 300px;
    padding: 130px 30px 50px 30px;
    display: flex;
    justify-content: space-between;
}
.package1{
    background-color: #F3F4F6;
    width: 380px;
    height: 300px;
   border-radius: 20px;
   
  
}
.package1 img{
    padding: 30px 0px 0px 30px;
}
.package1 h1{
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.package1 p{
    padding: 20px 30px 30px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#525252;
    
}
.package2{
    background-color: #F3F4F6;
    width: 380px;
    height: 300px;
   border-radius: 20px;
   
   
  
}
.package2 img{
    padding: 30px 0px 0px 30px;
}
.package2 h1{
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.package2 p{
    padding: 20px 30px 30px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #525252;
    
}
.package3{
    
    background-color: #F3F4F6;
    width: 380px;
    height: 300px;
   border-radius: 20px;
   
  
}
.package3 img{
    padding: 30px 0px 0px 30px;
}
.package3 h1{
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.package3 p{
    padding: 20px 30px 30px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #525252;
    
}
.title h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    color: #10657A;
    margin: 80px;

}
.post{
    display: flex ;
}
.post img{
    margin-top: 50px;
    margin-left: 190px;
}
.description {
   margin-top: 00px;

}
.description p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #525252;
   margin-top: 50px;
   font-size: 15px;
   margin-left: 30px;
}
   
.description h5{
    margin-left: 155px;
    background-color: #F3F4F6;
    padding: 5px;
    font-weight: 500;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -22px;
    border-radius: 20px;
    width: 50px;
    color: #525252;
    
}
.description h1{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
    margin-right: 100px;
    font-weight: bold;

}
.description h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:30px;
    font-size: 15px;
    color: #525252;
    font-weight: 400;
}
.description img{
    margin: -1px 0px 5px 30px;
 
}
.description h4{
    margin-top: -55px;
    margin-left: 110px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description h3{
    margin-left: 110px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #525252;
}
.footer{
    margin-top: 200px;
}
.footer img{
    width: 80px;
    height: 80px;
    margin-left: 30px;
}
.footer h5{
    margin-left: 30px;
    margin-top: 30px;
    color: #525252;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.so-media-icons{
    margin-left: 20px;
    margin-top: 30px;
    

}
.so-media-icons img{
    padding: 15px;
}
.fmeneu{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    
    
}
.fmeneu1{
    margin-left: -40px;
}
.fmeneu1 ul h1{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.fmeneu1 ul li{
    padding: 8px 8px 8px 0px;
    color: #525252;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    
}
.fmeneu2{
    margin-left: 80px;
}
.fmeneu2 ul h1{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.fmeneu2 ul li{
    padding: 8px  8px 8px 0px;

    color: #525252;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    
}
.fmeneu3{
    margin-left: 150px;
}
.fmeneu3 ul h1{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.fmeneu3 ul li{
    padding: 8px 8px 8px 0px;
    color: #525252;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    
}
.copyright h4{
    color: #525252;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
   
    margin: 50px  0px 30px 30px;
}
